# Configuration file

hostile {
    # A cloud elemental that scours the clouds in search of prey. [default: true]
    B:"Enable Blizzard"=true

    # An armored ice elemental spawning on the surface of snow biomes. [default: true]
    B:"Enable Guardsman"=true

    # A living snowball that grows as it consumes the ground beneath it. [default: true]
    B:"Enable Snow Roller"=true
}


neutral {
    # A strange, almost lifelike statue that spawns in dungeons. [default: true]
    B:"Enable Automaton"=true
}


passive {
    # A farmable ice creature that spawns packed ice randomly. [default: true]
    B:"Enable Nix"=true

    # A cute little fellow that spawns in snow biomes. [default: true]
    B:"Enable Penguin"=true
}


